Resources:
  SaleorElasticsearch:
    Type: AWS::Elasticsearch::Domain
    Properties:
      DomainName: saleores
      ElasticsearchVersion: 6.4
      ElasticsearchClusterConfig:
        InstanceType: t2.micro.elasticsearch
        InstanceCount: 1
        # DedicatedMasterEnabled: false
        # ZoneAwarenessEnabled: false
      AccessPolicies:
        Version: "2012-10-17"
        Statement:
          - - Effect: "Allow"
            - Principal:
                AWS: "*"
            - Action: "es:*"
            - Resource: "*"
      # AdvancedOptions:

# container_commands:
#   01virtualenv:
#     command:
#       Fn::Join:
#         - ''
#         - - 'echo "export ELASTICSEARCH_URL=https://'
#           - Fn::GetAtt:
#             - SaleorElasticsearch
#             - DomainEndpoint
#           - '" >> ../env'
  # 02index:
  #   command: "python manage.py search_index --rebuild"
