Resources:
  SaleorRedisSecurityGroup:
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      GroupDescription: "Lock cache down to webserver access only"
      SecurityGroupIngress :
        - IpProtocol : "tcp"
          FromPort :
            Fn::GetOptionSetting:
              OptionName : "CachePort"
              DefaultValue: "6379"
          ToPort :
            Fn::GetOptionSetting:
              OptionName : "CachePort"
              DefaultValue: "6379"
          SourceSecurityGroupName:
            Ref: "AWSEBSecurityGroup"
  SaleorRedis:
    Type: "AWS::ElastiCache::CacheCluster"
    Properties:
      CacheNodeType:
        Fn::GetOptionSetting:
          OptionName : "CacheNodeType"
          DefaultValue : "cache.t1.micro"
      NumCacheNodes:
        Fn::GetOptionSetting:
          OptionName : "NumCacheNodes"
          DefaultValue : "1"
      Engine:
        Fn::GetOptionSetting:
          OptionName : "Engine"
          DefaultValue : "redis"
      VpcSecurityGroupIds:
        -
          Fn::GetAtt:
            - SaleorRedisSecurityGroup
            - GroupId

Outputs:
  ElastiCache:
    Description : "ID of ElastiCache Cache Cluster with Redis Engine"
    Value :
      Ref : SaleorRedis
  SaleorRedisEndpointAddress:
    Description: "ElastiCache Cluster URL"
    Value:
      Fn::GetAtt:
        - SaleorRedis
        - RedisEndpoint.Address
    Export:
      Name: SaleorRedisEndpointAddress

option_settings:
  aws:elasticbeanstalk:customoption:
    CacheNodeType : cache.t1.micro
    NumCacheNodes : 1
    Engine : redis
    CachePort : 6379

container_commands:
  01env:
    command:
      Fn::Join:
        - ""
        - - "export REDIS_URL="
          - Fn::GetAtt:
            - SaleorRedis
            - RedisEndpoint.Address
  02dotenv:
    command:
      Fn::Join:
        - ''
        - - 'echo "REDIS_URL='
          - Fn::GetAtt:
            - SaleorRedis
            - RedisEndpoint.Address
          - '" >> .env'
  03httpd:
    command:
      Fn::Join:
        - ''
        - - 'echo "REDIS_URL='
          - Fn::GetAtt:
            - SaleorRedis
            - RedisEndpoint.Address
          - '" >> /etc/sysconfig/httpd'
  04virtualenv:
    command:
      Fn::Join:
        - ''
        - - 'echo "export REDIS_URL='
          - Fn::GetAtt:
            - SaleorRedis
            - RedisEndpoint.Address
          - '" >> ../env'
  # 05apache:
  #   command: 'echo "SetEnv REDIS_URL ${REDIS_URL}" >> .htaccess'
