commands:
  01yum:
    command: "yum install nodejs npm --enablerepo=epel -y"

container_commands:
  01setup:
    command: "npm install"
  02static:
    command: "npm run build-assets --production"
  03templates:
    command: "npm run build-emails --production"

option_settings:
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static": "static"
